@{
    ViewData["Title"] = "Детали сотрудника";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

    <h1>Details user</h1>

    <table>
        <tr>
            <td>@Model.Id</td>
            <td>@Model.FirstName</td>
            <td>@Model.SurName</td>
            <td>@Model.Patronymic</td>
            <td>@Model.Age</td>
        </tr>
        <tr>
            <td>
                @Html.ActionLink("Назад", "Index")
            </td>
        </tr>
    </table>
</body>
</html>